.img-container {
    background-color: #DCDCDC;
}

.card-title {
    font-weight: bold;
    font-size: 14px;
    color: blue;
    padding-top: 5px;
}

.card-key {
    font-weight: bold;
    font-size: 15px;
}

.card-value {
    color: blue;
    margin-left: 5px;
}