<div class="main-title">
    <div class="title-container">SpaceX Launch Programs</div>
</div>
<div class="card-container">
    <div class="cards-container-wrapper">
        <!-- <div class="main-title">
            <h3>SpaceX Launch Programs</h3>
        </div> -->
        <div class="filter-div">
            <div class="cards-container">

                <div class="spacex-card">
                    <h4>Filters</h4>
                    <div class="card-key filter-header">Launch Year</div>
                    <div class="card-content-years">
                        <button (click)="filterYear($event)" [class.active]="year == selectedYear" *ngFor="let year of launchYears;" type="button" class="btn btn-success btn-sm  btn-custom-width">{{year}}</button>
                    </div>

                    <div class="card-key filter-header" style="margin-top: 10px;">Successful Launch</div>
                    <div class="card-content-years">
                        <button [class.active]="selectedLaunch == 'True'" aria-pressed="selectedLaunch == 'True'" (click)="launch($event)" type="button" class="btn btn-success btn-sm btn-custom-width">True</button>
                        <button [class.active]="selectedLaunch == 'False'" aria-pressed="selectedLaunch == 'False'" (click)="launch($event)" type="button" class="btn btn-success btn-sm btn-custom-width">False</button>
                    </div>

                    <div class="card-key filter-header" style="margin-top: 10px;">Successful Landing</div>
                    <div class="card-content-years">
                        <button [class.active]="selectedLanding == 'True'" (click)="landing($event)" type="button" class="btn btn-success btn-sm btn-custom-width">True</button>
                        <button [class.active]="selectedLanding == 'False'" (click)="landing($event)" type="button" class="btn btn-success btn-sm btn-custom-width">False</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-div">
            <app-card *ngFor="let card of cards;" [card]="card" class="spacex-card"></app-card>
        </div>
    </div>
</div>